.account {
  // background: #880e4f;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-image: url("../../../public/image/LogiAndRegis/bg_account.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-clip: border-box;
  .accountLeft {
    // position: relative;
    // height: 100%;
    // width: 100%;
    // background-repeat: no-repeat;
    // background-size: cover;
    // left: -10%;
    // background-image: url("./image/LogiAndRegis/Rectangle_portrait_Left.png");
    position: absolute;
    height: 100%;
    width: 100%;
    left:-50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accountRight {
    // position: relative;
    // height: 100%;
    // width: 100%;
    // background-repeat: no-repeat;
    // background-size: cover;
    // right: -10%;
    // background-image: url("./image/LogiAndRegis/Rectangle_portrait_Right.png.png");
    position: absolute;
    height: 100%;
    width: 100%;
    right:-50%;
    background-repeat: no-repeat;
  }
}
