.section {
    .courselistWrapper {
      transition: all ease-in-out 500ms;
      margin-top: 0%;
      background: rgb(238, 238, 240);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    .courselist {
      margin: 7px 0;
      font-size: 1.1em;
      
    }
    .courselist::before {
      content: "";
      transform: translateY(3px);
      display: flex;
      align-items: center;
      justify-content: center;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("/image/CourseDetail/icons8-play-video-80.png")
        no-repeat center;
      background-size: contain;
      margin-right: 5px;
    }
  }