.CardCSS {
  overflow: hidden;
  &:hover {
    .hoverOverlayLayer {
      // background: rgba(29, 27, 27, 0.7);
      transform: translateY(0%);
    }
    //   .overlayButtonLeft {
    //     left: 30%;
    //     font-size: 2rem;
    //   }
    //   .overlayButtonRight {
    //     right: 30%;
    //     font-size: 2rem;
    //   }
  }
}

.hoverOverlayLayer {
  // content: "";
  // width: 100%;
  // height: 100%;
  // background: rgba(67, 63, 62, 0);
  // position: absolute;
  // left: 0;
  // top: 0;
  // border-radius: 5px;
  // border: none;
  // transition: 1000ms;
  // display: flex;
  // justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(109, 71, 92, 0.8);
  transform: translateY(100%);
  transition: all ease-in-out 500ms;
}
.overlayButtonLeft {
  position: absolute;
  top: 51%;
  left: -50px;
  transition: 500ms;
  font-size: 0.5rem;
  transform: translateY(-50%);
}

.overlayButtonRight {
  position: absolute;
  top: 50%;
  right: -50px;
  transition: 500ms;
  font-size: 0.5rem;
  transform: translateY(-50%);
}

//Ẩn thanh ScrollBar theo trình duyệt
/* Hide the scrollbar for Webkit-based browsers */
.customScrollbar::-webkit-scrollbar {
  width: 0.5em;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide the scrollbar for Firefox */
.customScrollbar {
  scrollbar-width: thin;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
